body {
  padding: 0;
  margin: 0;
}

.wrapper {
  padding: 10px;
  margin: 0 auto;
  max-width: 1200px;
}

.grid {
  display: grid;
  gap: 16px;
  place-items: center;
}

.flex {
  display: flex;
  gap: 16px;
}

.header h1 {
  border: solid black;
  padding: 1em;
}

.header h2 {
  border: solid black;
  padding: 1em;
}

.main {
  padding: 2rem 0;
}

.main .login {
  border: solid black;
  padding: 1.4em;
}

.main .signup {
  border: solid black;
  padding: 1em;
}

.login,
.signup {
  display: flex;
  place-items: center;
}

.order-id {
  border: solid black;
  padding: 1em;
}

.colon-align {
  border: solid black;
}

.colon-align {
  border: solid black;
  padding: 2em;
}

.colon-align span {
  display: inline-block;
  min-width: 80px;
}

.order-one {
  padding: 1.8em;
}

.order-two {
  padding: 1.1em;
}

.end {
  border: solid black;
  padding: 2em;
}

footer {
}

footer p {
  border: solid black;
  padding: 1em;
}
